<h1>New User</h1>


<%= form_with(url: "/users", scope: "user", method: "post") do |form| %>

<%= form.label(:username, "username") %>
<%= form.text_field(:username) %>

<%= form.label(:email, "email") %>
<%= form.email_field(:email) %>

<%= form.label(:passowrd, "password") %>
<%= form.password_field(:password) %>
<br><br>
<%= form.submit('Create')%>
<% end %>