<h1>New User</h1>


<%= form_with(url: "/users" , method: "post") do %>
<%= label_tag(:username, "username") %>
<%= text_field_tag(:username) %>

<%= label_tag(:email, "email") %>
<%= email_field(:email,'email') %>

<%= label_tag(:passowrd, "password") %>
<%= password_field_tag(:password) %>
<br><br>
<%= submit_tag('Create')%>
<% end %>